<div class="logo mb-5">
    <div class="logo-circle"></div>
    SENAFY
</div>

<nav class="d-flex flex-column gap-3">

    <a href="#" class="menu-item">
        <i class="bi bi-search"></i>
        Buscar
    </a>

    <a href="#" class="menu-item">
        <i class="bi bi-house-fill"></i>
        Inicio
    </a>

    <a href="#" class="menu-item">
        <i class="bi bi-collection"></i>
        Tu Biblioteca
    </a>

    <a href="#" class="menu-item">
        <i class="bi bi-plus-lg"></i>
        Crear playlist
    </a>

</nav>